@use "variables";

body {
  color: var(--text);
  background-color: variables.$bg;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 900px;
}

button {
  font-size: 1.5rem;
}

li {
  list-style: none;
  background-image: url("../images/logo.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position-y: center;
}
