@use "variables";

body {
  color: var(--text);
  background-color: variables.$bg;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 900px;
}

button {
  font-size: 1.5rem;
}
